.projects {
    display: flex;
    flex-wrap: wrap;
    background-color: #0a192f;
    min-height: 100vh;
}

.projects-title {
    position: absolute;
    margin-top: 15vh;
    color: #ccd6f6;
    font-size: 32px;
    text-align: center;
    width: 100%;
}
.project-name{
    color:#ccd6f6;
    text-align: center;
    margin:16px;
    text-transform: capitalize;
    font-size: 24px;
}

.projects-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 25vh;
    gap:50px;

}

.projects-container img {
    margin:16px ;
    border-radius: 8px;
}


.project-card-container {
    background-color: #112240;
    border-radius: 8px;
    width: 35vw;
    text-align: center;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.description {
    color: #8892b0;
}

.technologies-container{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    gap:16px;
    align-items: center;
}

.technology {
    background-color: #8892b0;
    padding: 6px;
    border-radius: 6px; 
}