.main-container {
    height: 100vh;
    position: relative;
    background-color: #112240;
}

.greeting {
    color:#64ffda;
}

.ocupation {
    color: #8892b0
}
.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    color: #ccd6f6;
    font-size: clamp(40px, 8vw, 80px);
}

.social-media {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left:40px;
    right: auto;
    z-index: 10;
    color: #a8b2d1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-between;
}

.social-media a {
    color: #a8b2d1;
}

.social-media a:hover {
    color: #64ffda;
}

.social-media:after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

